html{
  color-scheme: dark;
}

div.center{
  background-color: #181818;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.item{
  height: 150px;
  width: 150px;
  color: rgb(255, 255, 255);
  margin: 10px;
  padding: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border-radius: 20%;
    display: flex;
  align-items: center;
  justify-content: center;
}

.box1{
  background-color: rgb(255, 78, 196);
  font-size: 25px;
  
}

.box2{
  background-color: rgb(237, 60, 60);
  font-size: 25px;
}

.box3{
  background-color: rgb(88, 76, 251);
  font-size: 25px;
}

.box4{
  background-color: rgb(60, 149, 60);
  font-size: 25px;
}